## 验证邮箱

1. 如果点击 `Fork` 后出现下图所示页面，请自行前往注册时所用到的邮箱中查看最新邮件

![image](https://gitee.com/chiupam/Epidemic/raw/master/config/png/verification_1.png)

2. 提醒你需要 `Verify email address` 的时候，点击那个按钮就好

![image](https://gitee.com/chiupam/Epidemic/raw/master/config/png/verification_2.png)

3. 可能还需要登录一次

4. 如果需要登录一次，邮箱会收到验证码，输入验证码验证即可完成

5. 最后点击[此处](https://gitee.com/chiupam/Epidemic/blob/master/config/README.md)，继续阅读弹出的页面中的第2步操作，并进行操作